//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 2001 - 2001
//
//  File:       lrsample.rc
//
//--------------------------------------------------------------------------

#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,2
PRODUCTVERSION  1,0,0,2
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       (VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE|VS_FF_DEBUG)
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN

  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",     "GLG\0"
      VALUE "FileDescription", "SQL NGRAM Breaker/Stemmer\0"
      VALUE "FileVersion",     "1.0\0"
      VALUE "InternalName",    "sqlngram.dll\0"
      VALUE "LegalCopyright",  "Copyright 2016 GLG\0"
      VALUE "LegalTrademarks", "\0"
      VALUE "ProductName",     "SQLNGRAM\0"
      VALUE "ProductVersion",  "1.0\0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END

END

